<div class="main-content" [dir]="DirectSite">
    <div class="main-text  px-5">
        <h2>{{'home_main_text'|translate}}</h2>
        <button (click)="companyRegister()" class="btn-orange">{{"register_company"|translate}}</button>
    </div>
</div>
<div class="container my-3" id="services" [dir]="DirectSite">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/images/65acaf4db9eea4cecbe7bb99_light-filled-office-colleagues-zoom-background.jpg"
                    class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">{{"companies"|translate}}</h5>
                    <p class="card-text">
                        {{'company_home_text'|translate}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/images/pngtree-professional-industrial-engineer-consulting-with-workers-while-utilizing-3d-sketch-on-picture-image_5837156.jpg"
                    class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title"> {{"job_seekers"|translate}}</h5>
                    <p class="card-text">
                        {{'company_job_seeker_text'|translate}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/images/real-video-background-virtual.jpeg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">{{'strategies&services'|translate}}</h5>
                    <p class="card-text"> {{'services'|translate}} {{'strategy'|translate}}

                </div>
            </div>
        </div>
    </div>
</div>